<!DOCTYPE html>
<html lang="en">

<head>
    <title>News for You</title>

    {{!-- bootstrap --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"> 

        {{!-- JQuery --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

    {{!-- Bootstrap & Jquery --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

        {{!-- CSS --}}
<link rel="stylesheet" type="text/css"  href="../public/assets/style.css">

</head>
<navbar class="navbar">
    <h2> News Scraper</h2>
    <button class="btn-success">All the news that's fit to print</button>
</navbar>

<body>
    <div class="jumbotron " align="center">
        <h1> Washington Post Scraper</h1>
    </div>

    {{{ body }}}

</body>

</html>